html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 20px;
  --title-font-size: 2rem;
  --body-font-size: 1.2rem;
  --modal-font-size: 1.5rem;

  --mint-color: #d8ffe7;
  --aqua-color: #43c4ab;
  --pink-color: #f997b9;
  --orange-color: #daa67e;

  --main-border: solid 0.1rem black;
  --main-border-radius: 0.2rem;
  /* overflow: hidden; */
}
html {
  outline: var(--main-border);
  width: 100%;
  height: 100%;
  background-image: url(./images/watermelonseedbgnogradient.png);
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Itim", cursive;

  background: linear-gradient(
    45deg,
    #f58b3aad,
    #daa67ead,
    #f997b97d,
    #ff468764
  );
  animation: gradient 60s ease infinite;
  background-size: 400% 400%;
  /* font-family: "Lexend", sans-serif;  */
}
/* Animated BG derived from:https://codepen.io/P1N2O/pen/pyBNzX  */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title {
  font-size: var(--title-font-size);
}
h3 {
  font-size: var(--body-font-size);
}
button {
  margin: 0;
  overflow: visible;
  text-transform: none;
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: 100%;
}
/* Desktop */

.desktop {
  gap: 1rem;
  justify-items: center;
  padding: 2.5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
/* Links */
/* .linkedin {
}
.github {
} */
.aboutSite {
  grid-row-start: 2;
}
.ufcFightSim {
  grid-column-start: 11;
}
.dotr {
  grid-row-start: 2;
  grid-column-start: 12;
}
.quake2 {
  grid-row-start: 3;
  grid-column-start: 12;
}

.desktop-icon {
  line-height: 1.15;
  height: fit-content;
  padding: 0.3rem;
  border-radius: var(--main-border-radius);
  max-width: fit-content;
  transition: background 0.2s;
}
.desktop-icon:hover,
.desktop-icon:active,
.desktop-icon:focus {
  background: linear-gradient(
    90deg,
    rgba(215, 215, 215, 0.089),
    rgba(255, 255, 255, 0.438)
  );
  animation: gradient 2s ease infinite;
  background-size: 400% 400%;
}
.desktop-icon-title {
  line-height: 1.25;
  max-width: 11ch;
  text-align: center;
}
/* Modal */
/* Modal Code From https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-main {
  display: flex;
  flex-direction: column;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  background-color: var(--aqua-color);
  left: 0;
  right: 0;
  top: 0;
  bottom: 3rem;
  margin: auto;
  position: fixed;
  width: clamp(18rem, 80%, 65rem);
  height: clamp(20rem, 80%, 35rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.086);
}
.modal-title {
  z-index: 4;
  position: relative;
  user-select: none;
  display: flex;
  padding: 0 0.5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  background: linear-gradient(to top left, #ee9da6, var(--pink-color), #ff7484);
  animation: gradient 3s ease infinite;
  background-size: 400% 400%;
  border-bottom: var(--main-border);
}
.modal-title-text {
  font-size: var(--modal-font-size);
}
.modal-title-button {
  display: flex;
  border-radius: var(--main-border-radius);
  width: max-content;
  height: min-content;
  padding: 0 0.15rem;
}
.modal-title-button-cross {
  align-self: center;
}
.modal-title-button:hover {
  background-color: rgba(255, 255, 255, 0.119);
}

.modal-body {
  font-size: var(--body-font-size);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* flex: 1; */
  height: 100%;
  z-index: 4;
  position: relative;
}
.modal-media {
  text-align: center;
  align-self: center;
  width: 100%;
}
.modal-banner {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: var(--mint-color);
  width: 95%;
}
.modal-banner-text {
  font-family: "Lexend", sans-serif;
  text-align: left;
  max-width: 70%;
  border-top: #17b998 0.09rem solid;
  border-bottom: #17b998 0.09rem solid;
  padding: 2.5rem 0;
}
.modal-banner-button-link {
  justify-self: end;
}
.modal-banner-button {
  border: #ff4258 0.1rem solid;
  background: linear-gradient(45deg, var(--pink-color), #ef5567);
  /* background: var(--pink-color); */
  padding: 0.5rem 3rem;
  border-radius: 3rem;
}
.modal-banner-button:hover {
  background: linear-gradient(45deg, #ffa3ae, var(--pink-color), #ff334b);
  animation: gradient 2.5s ease infinite;
  background-size: 400% 400%;
}
/* Footer Stylings */
.footer {
  z-index: 1;
  height: 3rem;
  width: 100%;
  background: linear-gradient(-90deg, var(--aqua-color), var(--mint-color));
  animation: gradient 10s ease infinite;
  background-size: 400% 400%;

  border-top: var(--main-border);
  border-bottom: var(--main-border);
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  position: absolute;
  bottom: 0;
}

.footer-start,
.footer-clock {
  border: var(--main-border);
  padding: 0.2rem 1rem;
  user-select: none;
}

.footer-start {
  background: linear-gradient(
    -45deg,
    #f9842b,
    var(--pink-color),
    var(--orange-color),
    #ff3c80
  );
  animation: gradient 6s ease infinite;
  background-size: 400% 400%;
  border-radius: var(--main-border-radius) var(--main-border-radius)
    var(--main-border-radius) 0;
}

.footer-boring-info {
  display: none;
  align-self: flex-end;
  padding-bottom: 0.2rem;
}
.footer-clock {
  background: linear-gradient(
    45deg,
    #f9842b,
    var(--pink-color),
    var(--orange-color),
    #ff3c80
  );
  animation: gradient 6s ease infinite;
  background-size: 400% 400%;
  border-radius: var(--main-border-radius) var(--main-border-radius) 0
    var(--main-border-radius);
}
